/* Authentication page specific styles */
body {
    margin: 0;
    padding: 0;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Set width to 100% to cover entire viewport */
    height: 100%; /* Set height to 100% to cover entire viewport */
    object-fit: cover; /* Scale video to cover entire container */
    z-index: -1;
}

header {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #123ed1; /* Text color for labels */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #123ed1; /* Text color for input fields */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
